---

---

<section class="hero flex flex-col gap-6 py-24 px-6 md:text-center md:py-32">
  <h1
    class="text-4xl text-white font-bold md:max-w-[40rem] md:mx-auto md:text-5xl"
  >
    Unidos por el codigo, <span class="text-primary-300"
      >Juntos en cada error</span
    >
  </h1>
  <p class="text-light-gray text-sm lg:text-lg">
    Aprende y comparte conocimiento con otros devs de la industria
  </p>
  <div class="actions mt-2">
    <a
      class="rounded-lg p-3 border border-light-gray bg-primary-400"
      href="#"
      target="_blank">Unete</a
    >
    <a class="rounded-lg p-3 border border-light-gray text-white" href="#"
      >Nosotros</a
    >
  </div>
</section>
